<!-- <h1>Create Order</h1>
<form (ngSubmit)="submitOrder()">
  <div>
    <label for="itemDescription">Item Description:</label>
    <input type="text" id="itemDescription" [(ngModel)]="order-form.itemDescription" name="itemDescription">
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" [(ngModel)]="order.quantity" name="quantity">
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="number" id="price" [(ngModel)]="order.price" name="price">
  </div>
  <div>
    <label for="orderDescription">Order Description:</label>
    <textarea id="orderDescription" [(ngModel)]="order.orderDescription" name="orderDescription"></textarea>
  </div>
  <button type="submit">Create Order</button>
</form>
 -->
